// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .entity-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin entity-list-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.entity-list {
  display: flex;

  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  + .entity-list {
    margin-top: 14px;
  }
}

.entity-list__data {
  display: flex;

  + .entity-list__form {
    margin-left: 8px;
  }
}
.entity-list__data__item {

  + .entity-list__data__item {
    margin-left: 10px;
  }
}

.entity-list__data__item--status {
  min-width: 15px;
}

.entity-list__data__item--role {
  min-width: 30px;
}

.entity-list__data__item--name {}

.entity-list__controls {
  flex-wrap: nowrap;

  > * {
    margin-left: 8px;
  }
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.entity-list--volunteer-form {
  padding: 10px 15px;

  background-color: $body-bg-secondary;

  .boxy & {
    margin-left: -15px;
    margin-right: -15px;
  }

  .btn-default {
    background-color: darken($btn-default-bg, 10%);
  }

  .entity-list__form {
    flex-grow: 1;
  }
}

.entity-list--volunteer {
  padding-top: 10px;
  padding-bottom: 10px;

  + .entity-list--volunteer {
    margin-top: 0;

    border-top: 1px solid $border-color;
  }

  .entity-list__data {
    flex-grow: 1;
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
